{{#each posts as |post|}}

<a href="/post/{{id}}">
    <section class="card">
        <div class="card-header">
            <h5 class="card-title">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">posted by{{user.username}} on {{format_date updatedAt}} </h6>    
        </div>
        <div class="card-body">
            <p class="card-text">{{description}}</p> 
    </section>
</a>

{{/each}}
