
<section class="card">
        <div class="card-header">
            <h5 class="card-title">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">posted by <strong>posted by {{post.user.username}}</strong></h6>    
        </div>
        <div class="card-body">
            <p class="card-text">{{post.description}}</p>
        </div>
        {{!-- partial handler will be added --}}
        <div class="card-footer text-muted">
            <ul class="list-group list-group-flush">
                {{#each post.comment as |comment|}}
                <li class="list-group-item">{{comment.text}}</li>    
              {{/each}}
            </ul>   
        </div>   
        {{!--  --}}
</section>



<form class="card form-group"> 
    <div class="card-header">
        <label for="comment">Comment:</label>
    </div> 
    <div class="card-body">
        <textarea class="form-control" id="comment" rows="3" data-id="{{post.id}}"></textarea>    
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary" id="comment-submit" >Submit</button>
    </div>
</from>

{{!-- <script src="./js/script.js"></script> --}}
<script>
console.log("Hello");
const addCommentHandler = async (event) => {
    event.preventDefault();

    const text = document.querySelector("#comment").value;
    console.log(document.querySelector("#comment"));
    const post_id=document.querySelector("#comment").dataset.id;
    console.log(comment,post_id);

    if(comment){
        const response = await fetch('/api/comments',{
            method:'POST',
            body: JSON.stringify({text,post_id
            }),
            headers: {'Content-Type': 'application/json'},
        });
        console.log(response);
        if(response.ok){
            alert('success');
            document.location.replace(`/post/${post_id}`);
        }
        else{
            alert('Failed to post');
        }
    }
};

const addCommentBtn = document.querySelector('#comment-submit');
addCommentBtn.addEventListener('click',addCommentHandler);

</script>
